In [59]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

![Hi_there](img/CRISP_DM.png)

## Groupby apply function

- Note: continuing after the end of the subtopic 'Relational data model - defining a primary key'
- full data set too large to apply this function directly. Prepare a small test data set
- mapping some keys together and apply a function on it

In [60]:
pd_JH_data = pd.read_csv('../data/processed/COVID_relational_confirmed.csv', sep=';', parse_dates=[0])
pd_JH_data = pd_JH_data.sort_values('date', ascending = True).reset_index(drop = True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada          0
1 2020-01-22       no  Korea, South          1
2 2020-01-22       no        Kosovo          0
3 2020-01-22       no        Kuwait          0
4 2020-01-22       no    Kyrgyzstan          0

## Test data

- testing with two countries for some dates
- test data should be in a size where we can develop something and the possibility to review it

In [61]:
# get data according to country and the specified date
test_data = pd_JH_data[((pd_JH_data['country'] == 'US')|
                         (pd_JH_data['country'] == 'Germany'))&
                         (pd_JH_data['date'] > '2020-03-20')]

In [62]:
test_data.head()

            date state  country  confirmed
15736 2020-03-21    no  Germany      22213
15777 2020-03-21    no       US      25600
16002 2020-03-22    no  Germany      24873
16042 2020-03-22    no       US      33276
16269 2020-03-23    no  Germany      29056

In [63]:
# group by the country and getting all info according to country and then aggregate
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-05-19    no     177778
US      2020-05-19    no    1528568

In [64]:
# %load ../src/features/build_features.py
# Linear regression models
import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept = True)

def get_doubling_time_via_regression(in_array):

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1,1)

    assert len(in_array) == 3
    reg.fit(X,y)
    intercept = reg.intercept_
    slope = reg.coef_

    return intercept/slope

# Whenever the Python interpreter reads a source file, it does two things:
# it sets a few special variables like __name__, and then
# it executes all of the code found in the file.
# It's as if the interpreter inserts this at the top
# of your module when run as the main program.
# __name__ == "__main__"
#if __name__ == '__main__':
    #test_data = np.array([2,4,6])
    #result = get_doubling_time_via_regression(test_data)
    #print('The test slope is: ' + str(result))

In [65]:
# operate on the state as well
test_data.groupby(['state','country']).agg(np.max)

                    date  confirmed
state country
no    Germany 2020-05-19     177778
      US      2020-05-19    1528568

In [66]:
# test_data.groupby(['state', 'country']).apply(get_doubling_time_via_regression)

In [67]:
def rolling_reg(df_input, col = 'confirmed'):
    days_back = 3
    result = df_input[col].rolling(
             window = days_back,
             min_periods = days_back).apply(get_doubling_time_via_regression, raw = False)
    return result

In [68]:
test_data[['state', 'country', 'confirmed']].groupby(['state', 'country']).apply(rolling_reg, 'confirmed')

state  country
no     Germany  15736           NaN
                16002           NaN
                16269      7.417994
                16535      7.142035
                16801      8.012983
                17067      6.954407
                17333      6.501919
                17599      7.390371
                17865     10.136671
                18130     13.541893
                18397     13.781393
                18663     13.140681
                18928     12.037271
                19196     12.735506
                19461     16.052694
                19726     21.372453
                19992     27.427355
                20258     27.511936
                20524     21.792179
                20790     21.495848
                21057     26.565108
                21322     36.198404
                21588     43.982990
                21854     49.423444
                22121     74.043747
                22385     56.424411
                22653     42.468318
                22917     41.525988
                23185     49.898063
                23450     75.684007
                23716     78.000000
                23981     94.526338
                24249     82.985208
                24515     62.294061
                24779     70.294338
                25046     91.536840
                25313    112.903164
                25578    140.472457
                25844    148.285092
                26111    115.116625
                26375    104.285868
                26642    128.349094
                26908    167.535921
                27173    207.816845
                27441    279.484107
                27706    247.616282
                27972    166.275622
                28239    138.835878
                28505    139.648255
                28771    179.986624
                29037    265.319391
                29303    274.642705
                29569    267.092879
                29834    227.702584
                30101    266.129559
                30365    307.670485
                30633    274.967556
                30897    309.480047
                31165    441.111389
                31430    251.099125
       US       15777           NaN
                16042           NaN
                16309      3.753732
                16575      4.263767
                16840      4.964881
                17107      4.503876
                17373      4.668859
                17639      5.438323
                17904      6.182802
                18170      7.005979
                18436      6.924543
                18703      7.303820
                18968      7.755167
                19236      7.857610
                19501      8.484950
                19766      9.992339
                20032     11.696684
                20299     12.160237
                20564     12.748897
                20845     13.083304
                21098     13.631394
                21363     15.569574
                21628     17.900620
                21909     20.438166
                22161     22.201450
                22425     21.826739
                22694     21.267781
                22957     21.083486
                23226     21.664938
                23491     24.710669
                23757     29.098736
                24021     29.591375
                24289     28.993509
                24555     29.332938
                24819     26.816384
                25101     26.215567
                25353     30.993838
                25619     38.528679
                25885     42.261456
                26151     39.200289
                26415     36.615120
                26697     33.702522
                26949     34.914299
                27213     41.457215
                27481     48.372969
                27748     50.999633
                28012     49.215037
                28279     46.713054
                28545     46.036888
                28810     48.870130
                29077     57.690308
                29343     69.337977
                29609     67.246934
                29889     64.396049
                30141     57.544472
                30405     54.065448
                30674     57.659194
                30937     66.728898
                31206     73.484901
                31472     72.128276
Name: confirmed, dtype: float64

In [69]:
test_data

            date state  country  confirmed
15736 2020-03-21    no  Germany      22213
15777 2020-03-21    no       US      25600
16002 2020-03-22    no  Germany      24873
16042 2020-03-22    no       US      33276
16269 2020-03-23    no  Germany      29056
16309 2020-03-23    no       US      43843
16535 2020-03-24    no  Germany      32986
16575 2020-03-24    no       US      53736
16801 2020-03-25    no  Germany      37323
16840 2020-03-25    no       US      65778
17067 2020-03-26    no  Germany      43938
17107 2020-03-26    no       US      83836
17333 2020-03-27    no  Germany      50871
17373 2020-03-27    no       US     101657
17599 2020-03-28    no  Germany      57695
17639 2020-03-28    no       US     121465
17865 2020-03-29    no  Germany      62095
17904 2020-03-29    no       US     140909
18130 2020-03-30    no  Germany      66885
18170 2020-03-30    no       US     161831
18397 2020-03-31    no  Germany      71808
18436 2020-03-31    no       US     188172
18663 2020-04-01    no  Germany      77872
18703 2020-04-01    no       US     213242
18928 2020-04-02    no  Germany      84794
18968 2020-04-02    no       US     243622
19196 2020-04-03    no  Germany      91159
19236 2020-04-03    no       US     275367
19461 2020-04-04    no  Germany      96092
19501 2020-04-04    no       US     308650
19726 2020-04-05    no  Germany     100123
19766 2020-04-05    no       US     336802
19992 2020-04-06    no  Germany     103374
20032 2020-04-06    no       US     366317
20258 2020-04-07    no  Germany     107663
20299 2020-04-07    no       US     397121
20524 2020-04-08    no  Germany     113296
20564 2020-04-08    no       US     428654
20790 2020-04-09    no  Germany     118181
20845 2020-04-09    no       US     462780
21057 2020-04-10    no  Germany     122171
21098 2020-04-10    no       US     496535
21322 2020-04-11    no  Germany     124908
21363 2020-04-11    no       US     526396
21588 2020-04-12    no  Germany     127854
21628 2020-04-12    no       US     555313
21854 2020-04-13    no  Germany     130072
21909 2020-04-13    no       US     580619
22121 2020-04-14    no  Germany     131359
22161 2020-04-14    no       US     607670
22385 2020-04-15    no  Germany     134753
22425 2020-04-15    no       US     636350
22653 2020-04-16    no  Germany     137698
22694 2020-04-16    no       US     667592
22917 2020-04-17    no  Germany     141397
22957 2020-04-17    no       US     699706
23185 2020-04-18    no  Germany     143342
23226 2020-04-18    no       US     732197
23450 2020-04-19    no  Germany     145184
23491 2020-04-19    no       US     758809
23716 2020-04-20    no  Germany     147065
23757 2020-04-20    no       US     784326
23981 2020-04-21    no  Germany     148291
24021 2020-04-21    no       US     811865
24249 2020-04-22    no  Germany     150648
24289 2020-04-22    no       US     840351
24515 2020-04-23    no  Germany     153129
24555 2020-04-23    no       US     869170
24779 2020-04-24    no  Germany     154999
24819 2020-04-24    no       US     905358
25046 2020-04-25    no  Germany     156513
25101 2020-04-25    no       US     938154
25313 2020-04-26    no  Germany     157770
25353 2020-04-26    no       US     965785
25578 2020-04-27    no  Germany     158758
25619 2020-04-27    no       US     988197
25844 2020-04-28    no  Germany     159912
25885 2020-04-28    no       US    1012582
26111 2020-04-29    no  Germany     161539
26151 2020-04-29    no       US    1039909
26375 2020-04-30    no  Germany     163009
26415 2020-04-30    no       US    1069424
26642 2020-05-01    no  Germany     164077
26697 2020-05-01    no       US    1103461
26908 2020-05-02    no  Germany     164967
26949 2020-05-02    no       US    1132539
27173 2020-05-03    no  Germany     165664
27213 2020-05-03    no       US    1158040
27441 2020-05-04    no  Germany     166152
27481 2020-05-04    no       US    1180375
27706 2020-05-05    no  Germany     167007
27748 2020-05-05    no       US    1204351
27972 2020-05-06    no  Germany     168162
28012 2020-05-06    no       US    1229331
28239 2020-05-07    no  Germany     169430
28279 2020-05-07    no       US    1257023
28505 2020-05-08    no  Germany     170588
28545 2020-05-08    no       US    1283929
28771 2020-05-09    no  Germany     171324
28810 2020-05-09    no       US    1309550
29037 2020-05-10    no  Germany     171879
29077 2020-05-10    no       US    1329260
29303 2020-05-11    no  Germany     172576
29343 2020-05-11    no       US    1347881
29569 2020-05-12    no  Germany     173171
29609 2020-05-12    no       US    1369376
29834 2020-05-13    no  Germany     174098
29889 2020-05-13    no       US    1390406
30101 2020-05-14    no  Germany     174478
30141 2020-05-14    no       US    1417774
30365 2020-05-15    no  Germany     175233
30405 2020-05-15    no       US    1442824
30633 2020-05-16    no  Germany     175752
30674 2020-05-16    no       US    1467820
30897 2020-05-17    no  Germany     176369
30937 2020-05-17    no       US    1486757
31165 2020-05-18    no  Germany     176551
31206 2020-05-18    no       US    1508308
31430 2020-05-19    no  Germany     177778
31472 2020-05-19    no       US    1528568

In [70]:
# groupby function on the big data set
pd_DR_result = pd_JH_data[['state', 'country', 'confirmed']].groupby(['state', 'country']).apply(rolling_reg, 'confirmed').reset_index()
pd_DR_result.head()

     state country  level_2  confirmed
0  Alberta  Canada        0        NaN
1  Alberta  Canada      465        NaN
2  Alberta  Canada      701        NaN
3  Alberta  Canada      966        NaN
4  Alberta  Canada     1263        NaN

In [71]:
pd_DR_result = pd_DR_result.rename(columns={'confirmed':'confirmed_DR',
                                           'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    465           NaN
2  Alberta  Canada    701           NaN
3  Alberta  Canada    966           NaN
4  Alberta  Canada   1263           NaN

In [72]:
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada          0
1 2020-01-22       no  Korea, South          1
2 2020-01-22       no        Kosovo          0
3 2020-01-22       no        Kuwait          0
4 2020-01-22       no    Kyrgyzstan          0

In [73]:
pd_JH_data = pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada          0
1      1 2020-01-22       no  Korea, South          1
2      2 2020-01-22       no        Kosovo          0
3      3 2020-01-22       no        Kuwait          0
4      4 2020-01-22       no    Kyrgyzstan          0

In [74]:
# merging the doubling rate to the large dataset
# Left join - right side matrix joined with left side
# During left-join, the index available on the left side is only merged 
# Joining or merging done 'on' index only
pd_result_larg = pd.merge(pd_JH_data, pd_DR_result[['index', 'confirmed_DR']], on = ['index'], how = 'left')
pd_result_larg

       index       date    state       country  confirmed  confirmed_DR
0          0 2020-01-22  Alberta        Canada          0           NaN
1          1 2020-01-22       no  Korea, South          1           NaN
2          2 2020-01-22       no        Kosovo          0           NaN
3          3 2020-01-22       no        Kuwait          0           NaN
4          4 2020-01-22       no    Kyrgyzstan          0           NaN
...      ...        ...      ...           ...        ...           ...
31649  31649 2020-05-19       no      Barbados         90     88.666667
31650  31650 2020-05-19       no       Belarus      31508     32.913527
31651  31651 2020-05-19       no       Belgium      55791    217.390737
31652  31652 2020-05-19       no       Albania        949    631.777778
31653  31653 2020-05-19       no      Zimbabwe         46     45.333333

[31654 rows x 6 columns]

In [75]:
#pd_result_larg[pd_result_larg['country'] == 'Germany'].tail()

## Filtering the data with groupby apply

- adding new column step by step with new information to the large dataset

In [81]:
from scipy import signal

In [77]:
def savgol_filter(df_input, column ='confirmed', window = 5):
    window = 5
    degree = 1
    df_result = df_input
    
    filter_in = df_input[column].fillna(0) # Fill NA/NaN values using the specified method
    
    result = signal.savgol_filter(np.array(filter_in),
                                 window,
                                 degree)
    df_result[column+'_filtered'] = result
    return df_result

In [78]:
# groupping by the state and country
pd_filtered_result = pd_JH_data[['state', 'country', 'confirmed']].groupby(['state', 'country']).apply(savgol_filter).reset_index()

In [79]:
pd_filtered_result.tail()

       index state   country  confirmed  confirmed_filtered
31649  31649    no  Barbados         90                89.8
31650  31650    no   Belarus      31508             31517.6
31651  31651    no   Belgium      55791             55825.4
31652  31652    no   Albania        949               954.6
31653  31653    no  Zimbabwe         46                46.4

In [80]:
# merge the columns 'index' and 'confirmed_filtered' from pd_filtered_result to pd_result_larg
pd_result_larg = pd.merge(pd_result_larg, pd_filtered_result[['index', 'confirmed_filtered']], on = ['index'], how = 'left')
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0,NaN,0.0
1,1,2020-01-22,no,"Korea, South",1,NaN,0.8
2,2,2020-01-22,no,Kosovo,0,NaN,0.0
3,3,2020-01-22,no,Kuwait,0,NaN,0.0
4,4,2020-01-22,no,Kyrgyzstan,0,NaN,0.0

## Filtered doubling rate

-  doubling rate calculation done on the filtered data

In [117]:
pd_filtered_doubling = pd_result_larg[['state', 'country', 'confirmed_filtered']].groupby(['state', 'country']).apply(rolling_reg, 'confirmed_filtered').reset_index()
pd_filtered_doubling= pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})
pd_filtered_doubling.tail()

      state   country  index  confirmed_filtered_DR
31649    no  Zimbabwe  30418              27.809524
31650    no  Zimbabwe  30654              23.803922
31651    no  Zimbabwe  30950              23.444444
31652    no  Zimbabwe  31186              29.200000
31653    no  Zimbabwe  31653              37.666667

In [119]:
pd_result_larg = pd.merge(pd_result_larg, pd_filtered_doubling[['index', 'confirmed_filtered_DR']], on = ['index'], how = 'left')
pd_result_larg.tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
31649,31649,2020-05-19,no,Barbados,90,88.666667,89.8,73.833333
31650,31650,2020-05-19,no,Belarus,31508,32.913527,31517.6,32.362549
31651,31651,2020-05-19,no,Belgium,55791,217.390737,55825.4,193.921089
31652,31652,2020-05-19,no,Albania,949,631.777778,954.6,116.851852
31653,31653,2020-05-19,no,Zimbabwe,46,45.333333,46.4,37.666667

In [122]:
mask = pd_result_larg['confirmed'] > 100
# False values will be assigned 'NaN'
pd_result_larg['confirmed_filtered_DR'] = pd_result_larg['confirmed_filtered_DR'].where(mask, other = np.NaN)

In [121]:
pd_result_larg[pd_result_larg['country'] == 'Germany'].tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
30365,30365,2020-05-15,no,Germany,175233,307.670485,175186.0,273.843531
30633,30633,2020-05-16,no,Germany,175752,274.967556,175676.6,309.920958
30897,30897,2020-05-17,no,Germany,176369,309.480047,176336.6,305.463352
31165,31165,2020-05-18,no,Germany,176551,441.111389,176925.5,282.349107
31430,31430,2020-05-19,no,Germany,177778,251.099125,177514.4,300.433860

In [125]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv', sep=';',index=False)